{% style %}
  /*  */
{% endstyle %}
<div>
  Test
</div>
<style>
  
</style>
{% schema %}
  {
    "name": "Test Section",
    "settings": [
      
    ],
    "presets": [
      {
        "name": "Test Section"
      }
    ]
  }
{% endschema %}